name: Integração Contínua - Django

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13.2'  # ou a versão que você usa (veja no pyenv ou python --version)

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Rodar migrações
      run: python manage.py migrate

    - name: Rodar testes
      run: python manage.py test
